<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MindAlive"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MindAlive"
        android:usesCleartextTraffic="true">

        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver"
            android:enabled="true"
            android:exported="false"
            tools:replace="android:enabled"/>

        <activity android:name=".LoginActivity" android:exported="false"/>
        <activity android:name=".RegistroActivity" android:exported="false"/>
        <activity android:name=".PantallaMayorActivity" android:exported="false"/>
        <activity android:name=".PantallaCuidadorActivity" android:exported="false"/>
        <activity android:name=".PantallaJuegosActivity" android:exported="false"
            android:parentActivityName=".PantallaMayorActivity"/>
        <activity android:name=".SimonActivity" android:exported="false"
            android:parentActivityName=".PantallaMayorActivity"/>
        <activity android:name=".MemoryActivity" android:exported="false"
            android:parentActivityName=".PantallaMayorActivity"/>
        <activity android:name=".OperacionesActivity" android:exported="false"
            android:parentActivityName=".PantallaMayorActivity"/>
        <activity android:name=".RaroActivity" android:exported="false"
            android:parentActivityName=".PantallaMayorActivity"/>
        <activity android:name=".GestionAlarmasActivity" android:exported="false"
            android:parentActivityName=".PantallaCuidadorActivity"/>
        <activity android:name=".PerfilMayorActivity" android:exported="false"
            android:parentActivityName=".PantallaCuidadorActivity"/>
        <activity android:name=".CentroControlActivity" android:exported="false"
            android:parentActivityName=".PantallaCuidadorActivity"/>

    </application>

</manifest>